@use 'sass:math';

.pictures-element {
  &__image {
    display: none;
  }

  @include media-breakpoint-up(md) {
    position: relative;

    &__image {
      position: absolute;
      top: 50%;
      right: $container-padding-x;
      display: block;
      @include rfs(rem(580), width);
      max-width: 42.5%;
      transform: translateY(-35%);
      z-index: 20;
    }
  }

  @include media-breakpoint-up(lg) {
    &__image {
      right: 50%;
      transform: translate(100%, -35%);
    }
  }

  @include media-breakpoint-up(xl) {
    &__image {
      transform: translate(100%, -32.5%);
    }
  }

  @media (min-width: 1600px) {
    &__image {
      transform: translate(100%, -30%);
    }
  }
}
