@use 'sass:math';

.pictures-element {
  .About {
    &:first-child {
      margin-top: -10%;
      padding-top: 20%;
    }
  }

  &__image {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    position: relative;

    &__image {
      position: absolute;
      top: 50%;
      right: 50%;
      display: block;
      @include rfs(rem(580), width);
      max-width: 42.5%;
      transform: translate(105%, -35%);
      z-index: 20;
    }
  }
}
