@use 'sass:math';

.overflow-hidden {
  overflow: hidden;
}

.pattern-background {
  position: relative;
  margin-top: -10%;
  padding-top: 10%;

  .About {
    &:first-child {
      .About__background {
        display: none;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.05;
    mix-blend-mode: multiply;
    pointer-events: none;
    user-select: none;
  }
}

.pictures-element {
  &__image {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    position: relative;

    &__image {
      position: absolute;
      top: 50%;
      right: 50%;
      display: block;
      @include rfs(rem(580), width);
      max-width: 42.5%;
      transform: translate(105%, -35%);
      z-index: 20;
    }
  }
}
