body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-wrapper {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

button {
  padding: 0;
  color: inherit;
  background: none;
  border: none;
  border-radius: 0;
}
