.Form {
  position: relative;
  padding-top: rem(60);
  padding-bottom: rem(60);
  background-color: $color-13;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.05;
    mix-blend-mode: multiply;
    pointer-events: none;
    user-select: none;
  }

  &__title {
    margin: spacer(0, 0, 40);
    color: $color-3;
  }

  .TextField {
    margin-bottom: spacer(40);
  }

  .row {
    @include rfs(rem(30), margin-left);
    @include rfs(rem(30), margin-right);

    & > [class*='col'] {
      @include rfs(rem(30), padding-left);
      @include rfs(rem(30), padding-right);
    }
  }
}
