.Join {
  position: relative;
  padding-top: rem(100);
  padding-bottom: rem(80);

  &__separator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include rfs(rem(90), height);
    transform: translateY(50%);
    z-index: 10;
    pointer-events: none;
    user-select: none;
  }

  .container {
    position: relative;
  }

  .row {
    align-items: center;
    @include rfs(rem(-40), margin-left);
    @include rfs(rem(-40), margin-right);

    & > [class*='col'] {
      @include rfs(rem(40), padding-left);
      @include rfs(rem(40), padding-right);
    }
  }

  &__image {
    display: block;
    width: rem(480);
    max-width: 100%;
    margin: 0 auto rem(40);
  }

  &__title {
    margin: spacer(0, 0, 12);
    color: $color-3;
  }

  &__content {
    @include rfs(rem(60), margin-left);
    color: $color-3;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(md) {
    padding-top: rem(120);
    padding-bottom: rem(120);

    &__image {
      margin-bottom: rem(60);
    }
  }

  @include media-breakpoint-up(lg) {
    &__image {
      margin-bottom: 0;
    }

    &__content {
      margin-left: 0;
    }
  }
}
