.Members {
  position: relative;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.Members__col-1 {
  position: relative;
  padding-top: rem(80);
  padding-bottom: rem(60);
  color: $white;
  background-color: $color-3;

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    mix-blend-mode: overlay;
    pointer-events: none;
    user-select: none;
  }

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: (rem(400) + rem(120));
    margin: 0 auto;
    padding-left: $container-padding-x;
    padding-right: $container-padding-x;
    text-align: center;
  }

  &-image {
    display: block;
    max-width: 80%;
    margin: spacer(0, 0, 40);
  }

  &-title {
    margin: spacer(0, 0, 12);
  }

  &-symbols {
    display: flex;
    margin-bottom: spacer(12);

    img {
      width: auto;
      height: rem(12);
      margin: spacer(0, 8, 0, 0);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-text {
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 40%;
    padding-top: rem(180);

    &-content {
      display: block;
      margin-left: 0;
      @include rfs(rem(60), padding-left);
      @include rfs(rem(60), padding-right);
      text-align: left;
    }

    &-image {
      max-width: 100%;
    }
  }
}

.Members__col-2 {
  position: relative;
  padding-top: rem(60);
  padding-bottom: rem(60);

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.05;
    mix-blend-mode: multiply;
    pointer-events: none;
    user-select: none;
  }

  &-image {
    display: block;
    @include rfs(rem(760), width);
    max-width: 80%;
    margin: 0 auto;
  }

  @include media-breakpoint-up(lg) {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include rfs(rem(60), padding-left);
    @include rfs(rem(60), padding-right);

    &-image {
      max-width: 100%;
      margin: 0;
    }
  }
}
