.Members {
  position: relative;
  padding-top: 3.75rem;
  padding-bottom: 2.5rem;
  text-align: center;

  &__title {
    margin: spacer(0, 0, 4);
  }

  &__subtitle {
    margin: spacer(0, 0, 40);
    text-transform: uppercase;
    color: $color-6;
  }
}

.Members__slider {
  .slider {
    display: flex;
    align-items: center;

    .flickity-viewport {
      overflow: visible;
    }
  }
}

.Members__slide {
  flex-shrink: 0;
  margin-right: 5rem;

  a {
    display: block;
  }

  img {
    display: block;
    width: auto;
    max-width: none;
    height: 3rem;
  }
}
