.btn {

  &:focus, &:active {
    outline: none!important;
    box-shadow: none!important;
  }

  &.btn-primary {
    &:hover {}
  }
}

.link-plain {

  display: inline-block;
  position: relative;
  &:hover {
    text-decoration: none;
  }
}
