@use 'sass:math';

@function rem($size) {
  @if $size == 0 {
    @return 0;
  }

  @if $size == px {
    @return 1px;
  }

  @return math.div($size, 16) * 1rem;
}

@function spacer($size1, $size2: null, $size3: null, $size4: null) {
  $spacing: rem($size1);

  @if type-of($size2) == 'null' {
    @return $spacing;
  }

  $spacing: $spacing rem($size2);

  @if type-of($size3) == 'null' {
    @return $spacing;
  }

  $spacing: $spacing rem($size3);

  @if type-of($size4) == 'null' {
    @return $spacing;
  }

  $spacing: $spacing rem($size4);

  @return $spacing;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }

  @return $number;
}
