// Paths
$images-path: '../assets/images';
$fonts-path: '../assets/fonts';

// Colors
$black: #000000;
$white: #ffffff;

$color-1: #291424;
$color-2: #2f302e;
$color-3: #474a46;
$color-4: #747674;
$color-5: #735700;
$color-6: #a18e00;
$color-7: #c4aa60;
$color-8: #004d33;
$color-9: #10b37d;
$color-10: #4d7069;
$color-11: #8aa694;
$color-12: #c64ad4;
$color-13: #d8d8d8;

$primary: $color-9;
$secondary: $color-6;

$body-color: $color-4;
$body-bg: $white;

$colors: ();

$theme-colors: ();

// Grid containers
$container-max-widths: (
  xl: 1140px,
);

// Links
$link-color: $primary;
$link-decoration: underline;
$link-hover-color: $primary;
$link-hover-decoration: none;

$paragraph-margin-bottom: 1em;

// Typography
$font-family-chypre-normal: 'Chypre Normal', system-ui, -apple-system,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
$font-family-tenon: 'Tenon', system-ui, -apple-system, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-sans-serif: $font-family-tenon;

$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.75;
$font-size-lg: $font-size-base * 1.25;

$font-weight-base: $font-weight-normal;

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

$h1-font-size: $font-size-base * 3.25;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.75;

$headings-margin-bottom: 0.5rem;
$headings-font-family: $font-family-chypre-normal;
$headings-font-style: null;
$headings-font-weight: 600;
$headings-line-height: 1.2;
$headings-color: $color-6;

$lead-font-size: $font-size-base * 1.25;
$lead-font-weight: 300;

$small-font-size: 0.875em;

// RFS
$rfs-base-value: 1rem;
$enable-rfs: true;
