// Configuration
@import 'bootstrap/scss/functions';
@import 'functions';

@import 'bootstrap/scss/variables';
@import 'variables';

@import 'bootstrap/scss/mixins';
@import 'mixins';

// Layout & components
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
// @import 'bootstrap/scss/type';
// @import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
// @import 'bootstrap/scss/tables';
// @import 'bootstrap/scss/forms';
// @import 'bootstrap/scss/buttons';
// @import 'bootstrap/scss/transitions';
// @import 'bootstrap/scss/dropdown';
// @import 'bootstrap/scss/button-group';
// @import 'bootstrap/scss/nav';
// @import 'bootstrap/scss/navbar';
// @import 'bootstrap/scss/card';
// @import 'bootstrap/scss/accordion';
// @import 'bootstrap/scss/breadcrumb';
// @import 'bootstrap/scss/pagination';
// @import 'bootstrap/scss/badge';
// @import 'bootstrap/scss/alert';
// @import 'bootstrap/scss/progress';
// @import 'bootstrap/scss/list-group';
// @import 'bootstrap/scss/close';
// @import 'bootstrap/scss/toasts';
// @import 'bootstrap/scss/modal';
// @import 'bootstrap/scss/tooltip';
// @import 'bootstrap/scss/popover';
// @import 'bootstrap/scss/carousel';
// @import 'bootstrap/scss/spinners';
// @import 'bootstrap/scss/offcanvas';

// Helpers
// @import 'bootstrap/scss/helpers/clearfix';
// @import 'bootstrap/scss/helpers/colored-links';
// @import 'bootstrap/scss/helpers/ratio';
// @import 'bootstrap/scss/helpers/position';
@import 'bootstrap/scss/helpers/visually-hidden';
// @import 'bootstrap/scss/helpers/stretched-link';
// @import 'bootstrap/scss/helpers/text-truncation';

// Utilities
// @import 'bootstrap/scss/utilities/api';

// Vendor
@import 'vendor/flickity';
@import 'vendor/plyr';

// Partials
@import 'partials/fonts';
@import 'partials/scaffolding';
@import 'partials/type';
@import 'partials/misc';
@import 'partials/transitions';

// Components
@import 'components/Button';
@import 'components/Header';
@import 'components/About';
@import 'components/Testimonials';
@import 'components/Members';
@import 'components/Video';
@import 'components/VideoPlayer';
@import 'components/VideoModal';
@import 'components/Faq';
@import 'components/Faqs';
@import 'components/Form';
@import 'components/TextField';
@import 'components/Footer';
